@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*- HEADER -*/

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 7.5vh;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    margin-right: 4vw;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    margin-left: 7vw;
}

/*- LANDING PAGE -*/

.btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent;
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: 1;
    opacity: 0;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
    transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
    position: relative;
    z-index: 2;
}

.btn:hover {
    color: #373737;
    transition: color 0.1s linear 0s;
}

.btn:hover::before {
    top: 0;
    height: 100%;
    opacity: 1;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
    border-color: #373737;
    transition: border 0.1s linear 0s;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 92.5vh;
    z-index: 1;
}

.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
    display: block;
}

.slideshow .slide.is-loaded {
    opacity: 1;
}

.slideshow .slide .caption {
    padding: 0 100px;
}

.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 300 50px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 18px;
    line-height: 1.4;
}

.slideshow .slide .btn {
    margin: 15px 0 0;
    border-color: #fff;
}

.slideshow .slide .btn::before {
    background: #fff;
}

.slideshow .pagination {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;
}

.slideshow .pagination .item {
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    width: 46px;
    height: 32px;
    cursor: pointer;
    text-indent: -999em;
    z-index: 1;
}

.slideshow .pagination .item+.page {
    margin-left: -2px;
}

.slideshow .pagination .item::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 36px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
    width: 0;
    background: #fff;
    z-index: 2;
    transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before,
.slideshow .pagination .item.is-active::before {
    background-color: #fff;
}

.slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}

.slideshow .arrows .prev {
    left: 30px;
}

.slideshow .arrows .prev:hover .svg {
    left: -10px;
}

.slideshow .arrows .next {
    right: 30px;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}

.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
}

/*- BEST PRODUCTS -*/

.best_prodcuts{
    min-height: 50vh;
}

.best_prodcuts h1{
    height: 10vh;
    font-size: 4vh;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best_prodcuts .presentation{
    max-width: 100vw;
}

.best_prodcuts .presentation .bp_left img{
    float: left;
    width: 50%;
    height: 40vh;
}

.best_prodcuts .presentation .bp_right img{
    float: right;
    width: 50%;
    height: 40vh;
}

/*- NEW PRODUCTS -*/

.wrapper{
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #262626;
    letter-spacing: 2px;
    
}
.content {
    padding: 10%;
}
.content h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.content p {
    line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    margin-bottom: 3vh;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;    
}
.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;	
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

.new_products {
    min-height: 90vh;
    background-color: #fff;
}

.new_products h1 {
    height: 10vh;
    font-size: 4vh;
    text-transform: uppercase;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*- FOOTER -*/

footer {
    height: 5vh;
    background-color: #373737;
    color: #E2E8F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
}

/*- ANIMATION -*/


/***- SHOP -***/

.shop_promo{
    margin-left: 5vw;
    min-height: 70vh;
    margin-top: 5vh;
    background: cadetblue;
    max-width: 90vw;
    margin-bottom: 15vh;
}

.shop_box{
    max-width: 90vw;
    min-height: 80vh;
    margin-left: 5vw;
    background-color: bisque;
}

.shop_box h1{
    display: flex;
    justify-content: center;
    min-height: 10vh;
    font-size: 4vh;
    text-transform: uppercase;
    align-items: center;
}

.shop_box .filtering_strip{
    min-height: 5vh;
    background-color: darkslateblue;
}

/***- ABOUT -***/

.abt_info{
    height: 92.5vh;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt_info .abt_left h1{
    font-size: 10vh;
    color: white;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

.abt_info .abt_mid{
    width: 0.125vw;
    background-color: white;
    height: 40vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.abt_info .abt_right{
    max-width: 40vw;
    color: white;
}

.abt_info .abt_right h2{
    text-transform: uppercase;
    font-size: 3.5vh;
}

.abt_info .abt_right p{
    font-size: 2vh;
}

/*- MEDIA THINGS -*/

@media only screen and (max-width: 1000px){
    .best_prodcuts{
        min-height: 90vh;
    }

    .best_prodcuts .presentation .bp_right img {
        width: 100%;
        height: 40vh;
    }

    .best_prodcuts .presentation .bp_left img {
        width: 100%;
        height: 40vh;
    }
}

@media only screen and (max-width: 768px) {

    .navbar {
        height: 10.5vh;
    }

    .slideshow {
        height: 89.5vh;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        z-index: 50;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .abt_info{
        display: flex;
        flex-direction: column;
    }

    .abt_info .abt_left h1{
        font-size: 7.5vh;
    }

    .abt_info .abt_mid{
        width: 40vw;
        height: 0.125vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .abt_info .abt_right{
        text-align: center;
    }

    .abt_info .abt_right h2{
        font-size: 3vh;
    }

    .abt_info .abt_right p {
        font-size: 1.5vh;
    }

    .abt_info{
        height: 89.5vh;
    }

}